dropdown button{
    background-color:rgb(86, 86, 92)
    color(srgb rgb(4, 4, 4) rgb(233, 241, 233) blue)
    padding 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color:rgb(15, 7, 7);
    text-decoration: solid;
    padding: 10px 15px
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color:rgb(229, 229, 244);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(239, 239, 242);
}
.dropdown:hover .content{
    display: block;
}

 .dropdown {
    position: relative;
    display: inline-block;
 }

.title {
    color: red;
    text-align: center;
    font-family: "Tac One", sans-serif;
    font-weight: 300;
    font-style: initial;
}


.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  body {
    font-family: Arial, sans-serif;
}
form {
    max-width: 300px;
    margin: 0 auto;
}
.bmiForm[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}
.bmiForm[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}